@import '../../common/styles/templates';

.container {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
}

.light {
  @extend %light;
}

.dark {
  @extend %dark;
}